<h1>Editing Application Form</h1>

<%= render 'form', application_form: @application_form %>

<%= link_to 'Show', student_application_forms_path(current_student) %> |
<%= link_to 'Back', student_application_forms_path %>
