<div class="jumbotron">
  <h1 class="display-4">Hello  <%= current_student.first_name  if current_student != nil  %></h1>
  <p class="lead">Start your future now at iX, applications are open!</p>
  <hr class="my-4">
  <p>Welcome to a new world </p>
  <p class="lead">
    <%= link_to "Apply Now", student_application_forms_path(current_student) , class: "btn btn-primary btn-lg" %>
  </p>
</div>